<%

for(const job of jobs) {
    job.createdAt = new Date(job.createdAt).toLocaleDateString();
}

%>

<h1>Interview Creation</h1>


<form action="/<%=page%>" method="post">
    <input type="text" placeholder="Job's name" name="jobName">
    <button type="submit">Create</button>
</form>

<article id="list-header">
    <div>Name</div>
    <div>Applicant count</div>
    <div>Done count</div>
    <div>Creation date</div>
    <div></div>
</article>

<section id="recruiter-job-pool" class="list-container">
<% if(jobs.length === 0) { %>
    <p>You do not have any job.</p>
<% } %>
<% for(let job of jobs) { %>
    <article class="job" data-job-id="<%=job.id%>">
        <div class="job-name">
            <span><%=job.name%></span>
            <span>#<%=job.id%></span>
        </div>
        <div class="applicant-count">
            <span><%=job.applicants.length%> applicant<%=job.applicants.length>1?'s':''%></span>
        </div>
        <div class="applicant-done">
            <span><%=job.done%></span>
        </div>
        <div class="job-creation">
            <span><%=job.createdAt%></span>
        </div>
        <div class="action">
<% if(job.ended) { %>
            <span>Ended</span>
<% } else { %>
            <button class="end-btn">End</button>
<% } %>
        </div>
    </article>
<% } %>
</section>


<script src="/public/js/interview/create.mjs" type="module"></script>