<%

for(const job of jobs) {
    const d = new Date(job.createdAt).toLocaleDateString();

    job.createdAt = d;
}

%>

<h1>Open offers</h1>


<section id="lobbies-research-container" class="list-container job-list">
<% if(jobs.length === 0) { %>
    <p>There is no offers to apply for now.</p>
<% } %>
<% for(let job of jobs) { %>
    <article class="public-job" data-job-id="<%=job.id%>">
        <div class="job-name">
            <span><%=job.name%></span>
            <span>#<%=job.id%></span>
        </div>
        <div class="applicant-count">
            <span><%=job.applicants.length%> applicant<%=job.applicants.length>1?'s':''%></span>
        </div>
        <div class="job-creation">
            <span><%=job.createdAt%></span>
        </div>
        <div class="action">
            <button>
                <a href="/interview/room/<%=job.id%>"></a>
                apply
            </button>
        </div>
    </article>
<% } %>
</section>

<script src="/public/js/interview/lobby.mjs" type="module"></script>